<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New book</title>
</head>
<body>

<form th:method="POST" th:action="@{/books}" th:object="${book}">
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div>
    <br/>
    <label for="authorId">Enter authorId: </label>
    <input type="text" th:field="*{authorId}" id="authorId"/>
    <div style="color:red" th:if="${#fields.hasErrors('authorId')}" th:errors="*{authorId}">Author Error</div>
    <br/>
    <label for="genreId">Enter genreId: </label>
    <input type="text" th:field="*{genreId}" id="genreId"/>
    <div style="color:red" th:if="${#fields.hasErrors('genreId')}" th:errors="*{genreId}">Genre Error</div>
    <br/>
    <label for="isbn">Enter isbn: </label>
    <input type="text" th:field="*{isbn}" id="isbn"/>
    <div style="color:red" th:if="${#fields.hasErrors('isbn')}" th:errors="*{isbn}">Isbn Error</div>
    <br/>
    <input type="submit" value="Create!"/>
</form>

</body>
</html>