<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
</head>
<body>
<p th:text="${'Name: ' + book.getName()}">VALUE</p>
<p th:text="${'Author: ' + book.getAuthorId()}">VALUE</p>
<p th:text="${'Genre: ' + book.getGenreId()}">VALUE</p>

<p th:text="${'Id: ' + book.getId()}">VALUE</p>
<p th:text="${'ISBN: ' + book.getIsbn()}">VALUE</p>


<a th:href="@{/books/{id}/edit(id=${book.getId()})}">Edit</a>
<br/>
<form th:method="DELETE" th:action="@{/books/{id}(id=${book.getId()})}">
    <input type="submit" value="Delete"/>
</form>
</body>
</html>