<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update genre</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/genres/{id}(id=${genre.getId()})}" th:object="${genre}">
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{genreName}" id="name"/>
    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{genreName}">Name Error</div>
    <br/>
    <input type="submit" value="Update!"/>
</form>

</body>
</html>