<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update author</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/authors/{id}(id=${author.getId()})}" th:object="${author}">
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{authorName}" id="name"/>
    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{authorName}">Name Error</div>
    <br/>
    <input type="submit" value="Update!"/>
</form>

</body>
</html>